@function vw($size, $base:1920) {
  @return $size / $base * 100vw;
}

@function em($size, $base: 16) {
  @return $size / $base * 1em;
}

@function letterspacing($size) {
  @return $size / 1000 * 1em;
}

@function rem($size, $base: 16) {
  @return $size / $base * 1rem;
}
