// Commom Styles for text
.title {
  border-bottom: 1px solid #dadada;
  color: $text-color;
  font-size: rem(36);
  font-weight: $fw-light;
  letter-spacing: letterspacing(-2);
  line-height: 1.2em;
  margin-bottom: rem(21);
  padding-bottom: rem(20);
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    @include fontSize(24);
  }

  @media (min-width: 1024px) {
    @include fontSize(40);
  }
}

.subtitle {
  color: $text-color;
  line-height: 2em;
  margin-bottom: rem(28);

  @include fontSize(34);
}

.inner-title {
  color: #636363;
  line-height: 1.5em;
  margin-bottom: rem(20);

  @include fontSize(24);
}

.section-title {
  border-bottom: 1px solid $divider-color;
  color: $text-color;
  font-weight: $fw-light;
  margin: rem(65) auto rem(20);
  max-width: rem(870);
  padding-bottom: rem(25);
  text-align: center;
  text-transform: uppercase;

  @include fontSize(36);

  @media (max-width: $bp-desktop) {
    padding-bottom: rem(20);

    @include fontSize(28);
  }

  @media (max-width: $bp-below-tablet) {
    padding-bottom: rem(15);

    @include fontSize(24);
  }
}

.paragraph {
  color: $text-color;
  line-height: 1.2em;
  margin-bottom: rem(30);

  @media (max-width: $bp-desktop) {
    @include fontSize(12);
  }

  @media (min-width: $bp-desktop) {
    @include fontSize(20);
  }

  &--small {
    @include fontSize(12);
  }
}
