.spinner {
  animation: 1s spin linear infinite;
  border: rem(8) solid rgba($black, 0.1);
  border-left-color: $primary-color;
  border-radius: 50%;
  display: inline-block;
  height: rem(50);
  width: rem(50);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
