$bp-mobile: rem(320);
$bp-mobile-medium: rem(360);
$bp-mobile-large: rem(480);
$bp-mobile-very-large: rem(600);
$bp-below-tablet: rem(767);
$bp-tablet: rem(768);
$bp-desktop: rem(992);
$bp-desktop-large: rem(1024);
$bp-wide: rem(1200);
$bp-wide-large: rem(1360);

