/* Default */
$white: #fff;
$black: #000;
$light-grey: #dfdfdf;
$grey: #eee;
$medium-grey: #aaa;
$dark-grey: #333;
$primary-color: dodgerblue;

/* Text */
$text-color-link: #1063e0;
$text-color: #666;
$text-color-light: #999;
$text-color-medium: #727272;
$text-color-strong: #333;
$text-color-credits: #777;

/* Social */
$social-facebook: #3b5998;
$social-pinterest: #bd081c;
$social-twitter: #55acee;
$social-whatsapp: #128c7e;
$social-default: #d3d3d3;

/* Buttons */
$button-default: #3b9c00;
$button-success: #386cc2;
$button-error: #de3838;
$button-warning: #f3ac00;
$button-disabled: #777;

/* Dividers */
$divider-light-grey: #e9e9e9;
$divider-color: #e1e5e5;
