.main-header-wrapper {
  background: $primary-color;
  box-shadow: 0 2px 5px 0 rgba($black, 0.26);
  margin: 0 auto;
  width: 100%;
}

.main-header {
  align-items: center;
  display: flex;
  height: rem(80);
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1140px;
  padding: 5px 20px;
  position: relative;
  width: 100%;
}

.current-user {
  align-items: flex-end;
  display: flex;
  padding: 0 10px;

  .user-pic {
    color: $white;
    display: inline-block;
    height: rem(60);
    width: rem(60);
  }

  .user-name {
    color: $text-color-strong;
    display: inline-block;

    @include fontSize(18);
  }
}
