include ./../icons/icons

.main-header-wrapper
  .main-header(id='main-header')
    .current-user
      .user-pic
        +addIcon('executive')
      h3.user-name#header__user-name= slugify(user.name)
    .log-out
