doctype html
html(lang='pt-br')
  head
    title Treinamento IN Junior

    meta(charset= 'UTF-8')
    meta(name= 'viewport' content= 'width=device-width, initial-scale=1.0, maximum-scale=1.0')


    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")

  body(style='min-width: 0;')
    block content
