/* stylelint-disable */

/* Reset browser's preset options of CSS
======================================================= */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, figure{ margin:0; padding:0 }
html,body{ margin:0; padding:0; height: 100%;}
table{ border-collapse:collapse; border-spacing:0 }
fieldset,img{ border:0 }
input{ border:1px solid #b0b0b0;padding:3px 5px 4px;color:#979797;width:190px }
address,caption,cite,code,dfn,th,var{ font-style:normal; font-weight:normal }
ol,ul{ list-style:none }
caption,th{ text-align:left }
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal }
q:before,q:after{ content:'' }
abbr,acronym{ border:0 }
a{text-decoration: none}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
blockquote{ quotes: none; }

/* Box sizing
======================================================= */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  font-family:'Open Sans', sans-serif;
}

/* stylelint-enable */
